# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/

# Ignore local environment config file
app.env

# Optional: Ignore IDE config files (if using IntelliJ)
.idea/
*.iml

# Optional: Ignore log files
*.log