body {
  transition: 0.5s;
}

.header .login-button {
  background-color: #0084ff;
  color: aliceblue;
  text-decoration: none;
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  transition: 0.3s background-color;
}

.header .left-bt-login {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.header .right-bt-sign {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.header .login-button:hover {
  background-color: #0f3cb0;
}

.header .navbar {
  height: 80px;
  background-color: rgba(var(--bs-body-bg-rgb), 1.5);
  transition: 0.3s background-color;
  padding: 0.5rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.header .navbar-toggler {
  border: none;
  font-size: 1.25rem;
}

.header .navbar-toggler:focus,
.header .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.header .nav-link,
.nav-item {
  color: #0c76f7;
  font-weight: 500;
}
.nav-link.active,
.nav-link .active {
  transition: .5s;

}
.header .nav-link:hover,
.nav-link.active,
.nav-link .active {
  color: #61a8ff;
}

.header .dropdown:hover .dropdown-menu {
  display: block;
}

.header .member-dropdown {
  display: none;
}

@media (max-width: 353px) {
  .header .right-bt-sign {
    display: none;
  }
  .header .left-bt-login {
  border-radius: 50px;
  }
}
@media (max-width: 261px) {
  .header .right-bt-sign {
    display: none;
  }
  .header .left-bt-login {
    border-radius: 50px;
    font-size: 10px;
    padding: 13 px;
  }
}

.content1 {
  margin-top: 90px;
}

.content1 .owl-carousel .owl-stage {
  display: flex;
}

.content1 .owl-carousel .owl-item img {
  width: 100%;
  height: 650px !important;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1500px) {
  .content1 .owl-carousel .owl-item img {
    height: 500px !important;
  }
}

@media (max-width: 765px) {
  .content1 .owl-carousel .owl-item img {
    height: 300px !important;
  }
}

.content1 .carousel-item {
  margin-top: 80px;
  height: 60vh;
}

.content1 .carousel-item img {
  margin: auto;
  height: 60vh;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.content1 .carousel-caption p {
  display: none;
}

.carousel-caption p i {
  color: yellow;
}

.content1 .carousel-caption {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 3px solid #0d6efd;
  border-right: 3px solid #0d6efd;
  transition: 0.8s;
  cursor: pointer;
}

.content1 .carousel-item:hover img {
  filter: brightness(50%);
}

.carousel-caption p {
  display: none;
}

.carousel-item:hover .carousel-caption p {
  display: block;
}

.slider2 {
  display: none;
}

.content2 {
  width: 70%;
}

.content2 .row1 {
  text-align: center;
}

.row2 .card {
  position: relative;
  transition: 0.5s;
  cursor: pointer;
}

.row2 .card img {
  transition: 0.5s;
}

.row2 .card .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
  transition: 0.5s;
}

.row2 .card:hover img {
  background-color: rgba(0, 0, 0, 0.5);
  filter: brightness(50%);
}

.row2 .card:hover .btn {
  display: block;
}

.row2 .card-img-top {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .content2 .row2 .card {
    width: 200px;
  }
}

@media (max-width: 991px) {
  .content2 .row2 .card .card-img-top {
    height: 300px;
  }
}

.content1 .fa-angle-left {
  position: absolute;
  left: 0;
  top: 40%;
  transform: translateY(-50%);
  font-size: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 0;
}

.content1 .fa-angle-right {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  font-size: 40px;
  padding: 10px 0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.content1 .owl-dots {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 575px) {
  .content1 .fa-angle-left,
  .content1 .fa-angle-right {
    display: none;
  }
}

.top-movie .card {
  background-color: white;
  box-shadow: 2px 2px 10px;
  transition: all ease-in-out 0.3s;
}

.top-movie .card:hover {
  box-shadow: 4px 4px 15px;
  transform: scale(1.1);
}

.top-movie .item {
  transition: all ease-in-out 0.3s;
}

.top-movie .rank-poster {
  width: 50%;
  height: 30vh;
  object-fit: cover;
  position: relative;
  top: 10px;
  transition: all ease-in-out 0.3s;
}

.top-movie .card:hover .rank-poster {
  top: 0;
}

@media (max-width: 812px) {
  .top-movie .rank-poster {
    top: 0;
  }
}

#owl-carousel2 .item {
  margin: 0 20px;
}

#owl-carousel2 .item .card .card-body {
  position: relative;
  align-items: center;
}

#owl-carousel2 .item .card .card-body .btn {
  color: #737373;
  background-color: #e0e0e0;
}

#owl-carousel2 .item .card .card-body .btn:hover {
  color: white;
  background-color: blue;
}

.test {
  width: 70%;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: auto;
}

.test img {
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid white;
  transition: all ease-in-out 0.5s;
}

.test img:hover {
  width: 25%;
}

.wrapper {
  padding: 10px 10%;
}

#card-area {
  padding: 50px 0;
}

.box-area {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.box {
  width: 310px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.box img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.overlay {
  color: #fff;
  height: 0;
  width: 100%;
  background: linear-gradient(transparent, #1c1c1c 58%);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.overlay h3 {
  font-weight: 500;
  margin-bottom: 5px;
  font-family: bebas neue;
  font-size: 30px;
  letter-spacing: 2px;
}

.overlay a {
  margin-top: 10px;
  color: #262626;
  text-decoration: none;
  font-size: 14px;
  background: #fff;
  border-radius: 50px;
  text-align: center;
  padding: 5px 15px;
}

.box:hover img {
  transform: scale(1.2);
}

.box:hover .overlay {
  height: 100%;
}

.top-movie2 {
  background-color: #1c2341;
  padding-top: 20px;
  margin: 90px 0;
}

.top-movie-title {
  margin: 30px 0;
  text-align: center;
  color: #fff;
}

.information {
  margin: 50px 0;
}

/* About */
.about h1 {
  margin-top: 50px;
}

.about-why .card {
  cursor: pointer;
  transition: .5s;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.about-why .card:hover {
  transform: scale(1.1);
}

/* Map */
.map iframe {
  width: 100%;
  height: 500px;
}

/* discount */
.background-overlay {
  height: 150px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 30px;
  margin: 10px 0;
  transition: .4s;
  cursor: pointer;
}
.background-overlay:hover {
  transform: scale(1.1);
}
.background-overlay1 {
  background-image: url('img/hoc-sinh.jpg');
  border-radius: 30px;
}
.background-overlay2 {
  background-image: url('img/Ghe-ngoi.jpg');
  border-radius: 30px;
}
.background-overlay3 {
  background-image: url('img/movie-list.jpeg');
  border-radius: 30px;
}

.background-overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(28, 35, 65, 0.8);
  border-radius: 30px;
}
.text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  font-weight: bolder;
  font-size: x-large;
  position: relative;
  z-index: 1;
  text-align: center;
}

/* MovieInfo */
.showtimes-container {
  margin-top: 30px;
}

.showtime-buttons .btn {
  margin: 5px;
}

@media (max-width: 768px) {
  #qr-code-modal {
    width: 100% !important;
    padding: 10px;
  }

  #qr-code-modal img {
    width: 100% !important;
    height: auto;
  }
}